body{
  background-color: peachpuff;
}
.head-img{
  background-image:url("images/image.png");
  background-repeat: no-repeat;
  background-position: center;
  position:relative;
  background-size:cover;
  height: 500px;

}
.head-text{
  text-align: center;
  font-size:3.0em;
  font-family: 'Permanent Marker', cursive;
  color: papayawhip;

}
